# ==============================
# Python 共通
# ==============================
__pycache__/
*.py[cod]
*.pyc
*.pyc.*
*.pyo
*.pyd
*.so
.Python

# 仮想環境
.env/
.venv/
venv/
ENV/

# ==============================
# 環境変数・認証情報
# ==============================
.env

# ==============================
# OS / Editor 依存
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==============================
# その他
# ==============================
pytest_cache/
.mypy_cache/
